.center {
    margin: auto;
    width: 60%;
    border: 5px solid grey;
    padding: 10px;
}

#devices {
    margin-left: 2%;
    width: 48%;
    position: fixed;
} 

#table {
    float: left;
}

#camera {
    margin-right: 2%;
    float: right;
}